Repository f0xmulder/development: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ui unit tests, api unit tests

.gitlab-ci.yml:

stages:
  - test

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - ui/node_modules/

ui unit tests:
  image: node:10.15.1-alpine
  stage: test
  only:
    changes:
      - ui/**/*
  before_script:
    - cd ui/
    - npm install
  script:
    - npm test -- --coverage
  coverage: /All\sfiles.*?\s+(\d+.\d+)/
  artifacts:
    expire_in: 1 month
    paths:
      - ui/coverage

api unit tests:
  image: golang:1.11.5
  stage: test
  only:
    changes:
      - api/**/*
  script:
    - go test $(go list ./...) -v -coverprofile coverage.out
    - go tool cover -html=coverage.out -o api/coverage.html
  coverage: /^coverage:\s(\d+(?:\.\d+)?%)/
  artifacts:
    expire_in: 1 month
    paths:
      - api/coverage.html

Add test for message when no APIs are available
  ui/src/App.js
  ui/src/App.test.js
Due: ui unit tests

Remove `only` configuration to make sure the reported coverage in MR's is for both applications
  .gitlab-ci.yml
Due: none

#2 Extract API model into a separate file
  api/listen.go
  api/listen_test.go
  api/models/api.go
Due: api unit tests

#2 Extract the /list route into a separate file
  api/listen.go
  api/listen_test.go
  api/routes/list.go
Due: api unit tests

#2 Move tests
  api/listen_test.go
  api/routes/list_test.go
Due: api unit tests

#2 Add extra info to assertions
  api/routes/list_test.go
Due: api unit tests

#2 Read API data from the file system
  api/listen.go
  api/listen_test.go
  api/routes/list.go
  api/routes/list_test.go
  api/test-data/test-api-name.json
  go.sum
Due: api unit tests

#2 Move modd conf to root to prevent issue with relative ./data directory
  api/modd.conf
  modd.conf
Due: api unit tests

#2 Move modd conf back to the api directory. The API should be started from the API folder.
  api/modd.conf
  api/routes/list.go
  modd.conf
Due: api unit tests

#2 Add README + related docs
  README.md
  docs/00-stack.md
  docs/01-development-setup.md
  docs/02-from-development-to-production.md
Due: none

#2 Update API port number 80 -> 8080
  api/cmd/don-api/main.go
  ui/package.json
Due: ui unit tests, api unit tests

#2 Log the address the API is listening to
  api/cmd/don-api/main.go
Due: api unit tests

#2 Rewrite log message
  api/cmd/don-api/main.go
Due: api unit tests

#2 Add polyfill for IE11
  ui/package.json
  ui/src/index.js
Due: ui unit tests

#2 Pin React & React DOM versions
  ui/package.json
Due: ui unit tests

#2 Cover scenario where the API returns an error
  ui/src/App.js
  ui/src/App.test.js
Due: ui unit tests

NPM audit
  .gitlab-ci.yml
Due: none

Only run NPM audit in schedule
  .gitlab-ci.yml
Due: none

Fix base image for NPM audit
  .gitlab-ci.yml
Due: none

Move react-scripts to devDependencies
  ui/package.json
Due: ui unit tests

Dry run of NPM audit
  .gitlab-ci.yml
Due: none

Remove NPM audit job
  .gitlab-ci.yml
Due: none

#30 Add job to validate API definitions
  .gitlab-ci.yml
Due: none

#30 Setup Directory & File validator for API files
  validate/cmd/don-validate/main.go
  validate/test-data/directories/with-invalid-file/invalid-json.json
  validate/test-data/directories/with-valid-and-invalid-file/invalid-json.json
  validate/test-data/directories/with-valid-and-invalid-file/valid.json
  validate/test-data/directories/with-valid-file/valid.json
  validate/test-data/files/file-extension.txt
  validate/test-data/files/invalid-json.json
  validate/test-data/files/missing-service-name.json
  validate/test-data/files/missing-specification-url.json
  validate/test-data/files/valid.json
  validate/validate.go
  validate/validate_test.go
Due: none

#30 Fix test
  validate/validate_test.go
Due: none

#30 Only test API in API unit test job
  .gitlab-ci.yml
Due: none

#30 Extend validation tests
  validate/test-data/files/missing-api-specification-type.json
  validate/test-data/files/missing-api-url.json
  validate/test-data/files/missing-documentation-url.json
  validate/test-data/files/missing-organization-name.json
  validate/validate_test.go
Due: none

#30 Run unit-tests for the validate package
  .gitlab-ci.yml
Due: none

#30 Provide feedback if the validation failed
  validate/cmd/don-validate/main.go
  validate/validate.go
  validate/validate_test.go
Due: none

#30 Fix validate job
  .gitlab-ci.yml
Due: none

#30 Remove invalid API definition
  data/enable-u-demo-service.json
Due: none

Run nginx container as root for now
  ui/Dockerfile
Due: ui unit tests

Added Docker build instructions to README
  README.md
Due: none

Added Dockerfile for ui
  ui/Dockerfile
  ui/docker/default.conf
Due: ui unit tests

Added Dockerfile for api
  .dockerignore
  .gitignore
  api/Dockerfile
  api/cmd/don-api/main.go
Due: api unit tests

#31 Markdown improvements
  docs/developer.md
Due: none

Switched domain to don.commonground.nl
  helm/don/values-prod.yaml
Due: none

Fixed release documentation in deployment / releases
  docs/deployment-releases.md
Due: none

Changed ListenAddressPlain to 8080
  api/cmd/don-api/main.go
Due: api unit tests
